ion-content {
  --background: url('/assets/img/bg-1.jpg') no-repeat center/cover;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}
.page-content {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.page-bottom {
  text-align: center;
}
ul {
  display: inline-block;
  text-align: left;
  font-weight: 300;
  line-height: 21px;
  color: var(--ion-color-white);
  margin-top: 30px;
}
ion-button {
  margin-bottom: 15px;
}
a {
  color: var(--ion-color-white);
}
