<ion-content>
  <div class="page-wrapper ion-padding">
    <div class="page-content">
      <img src="/assets/img/logo.png" alt="logo">
      <br>
      <ul>
        <li>Start with a 14-day free trial.</li>
        <li>Cancel anytime</li>
        <li>Hundreds of hand crafted recipes</li>
        <li>No credit card required</li>
        <li>No charge until after your 14-day free trial</li>
      </ul>
    </div>
    <div class="page-bottom">
      <ion-button (click)="goSignup()" class="btn-basic" color="basic" expand="block" shape="round">Sign Up</ion-button>
      <a (click)="goLogin()" class="btn-basic">Log in to my account</a>
    </div>
  </div>
</ion-content>
