.page-wrapper {
  display: flex;
  flex-direction: column;
}
.page-content {
  margin: auto;
}
.page-footer {
  margin-top: auto;
}
.logo {
  text-align: center;
  margin-bottom: 50px;
}
.list {
  display: inline-block;
  line-height: 1.5;
}
ion-button {
  height: 54px;
  --background: #f8e71c;
  --background-activated: #ffce00;
}
.signup-button {
  font-size: 18px;
  font-weight: bold;
}
.login-button {
  text-align: center;
  margin: 15px 0;
  a {
    font-size: 18px;
    font-weight: bold;
    color: var(--ion-color-light);
  }
}
