<ion-content>
  <div class="page-wrapper ion-padding">
    <div class="page-content">
      <img class="logo" src="/assets/img/logo.png" alt="Zoë">
      <div class="form">
        <h1 class="form-title">Forgot Password</h1>
        <div class="form-content">
          <ion-item color="transparent">
            <ion-label position="floating">Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item color="transparent">
            <ion-label position="floating">Confirm Email</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>
      </div>
    </div>
    <div class="page-bottom">
      <ion-button (click)="goLogin()" class="btn-basic" color="basic" expand="block" shape="round">Reset Password</ion-button>
      <a (click)="goLogin()" class="btn-basic">Log in to my account</a>
    </div>
  </div>
</ion-content>
