<ion-content>
  <div class="page-header">
    <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
    <h1>Banana Walnut Overnight Oatmeal</h1>
  </div>
  <ion-row>
    <ion-col>
      <div class="action-button">
        <ion-icon name="remove-circle" color="danger"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="action-button">
        <ion-icon name="thumbs-down"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="action-button">
        <ion-icon name="thumbs-up"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <div class="action-button">
        <ion-icon name="heart-empty"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <div class="section">
    <div class="section-header">
      <h2>Details</h2>
    </div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label class="label">Prep Time</ion-label>
          <ion-label class="value">15 Minutes</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label">Cook Time</ion-label>
          <ion-label class="value">7 Hours</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label">Serving Size</ion-label>
          <ion-label class="value">1 Bowl</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="label">Servings</ion-label>
          <ion-select class="value" placeholder="1" value="1">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
