<ion-content>
  <div class="page-header">
    <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
    <h1>Banana Walnut Overnight Oatmeal</h1>
  </div>
  <ion-row>
    <ion-col>
      <div class="action-button">
        <ion-icon name="remove-circle" color="danger"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="action-button">
        <ion-icon name="thumbs-down"></ion-icon>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="action-button">
        <ion-icon name="thumbs-up"></ion-icon>
      </div>
    </ion-col>
    <ion-col>
      <div class="action-button">
        <ion-icon name="heart-empty"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <div class="section">
    <!--  -->
  </div>
</ion-content>
