<ion-content *ngIf="recipe">
    <div class="page-header">
      <div class="title">
        <ion-icon (click)="goBack()" name="arrow-back"></ion-icon>
        <h1>{{recipe.name}} score: {{recipe.score}}</h1>
      </div>

      <img src="{{recipe.photo}}" />
    </div>
    <ion-row>
      <ion-col>
        <div class="action-button">
          <ion-icon name="remove-circle" color="danger"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="action-button">
          <ion-icon name="thumbs-down" (click)="thumbsDown()"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="action-button">
          <ion-icon name="thumbs-up" (click)="thumbsUp()"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div class="action-button">
          <ion-icon name="heart-empty"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <div class="section">
      <div class="section-header">
        <h2>Details</h2>
      </div>
      <div class="section-content">
        <ion-list>
          <ion-item>
            <ion-label class="label">Prep Time</ion-label>
            <ion-label class="value">{{recipe.prepTime}} Minutes</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label">Cook Time</ion-label>
            <ion-label class="value">{{recipe.cookTime/60}} Hours</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label">Serving Size</ion-label>
            <ion-label class="value">{{recipe.servingSize}} Bowl</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="label">Servings</ion-label>
            <ion-select class="value" placeholder="1" value="1">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h2>Description</h2>
      </div>
      <div class="section-content">
        <p>
          {{recipe.description}}
        </p>
      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h2>Nutrition</h2>
      </div>
      <div class="section-content" >
        <ion-list class="progress">
          <ion-list-header>
            <ion-label>{{recipe.calories}} Calories</ion-label>
          </ion-list-header>
          <ion-progress-bar
            color="basic"
            value="{{recipe.calories/1000}}"
          ></ion-progress-bar>
        </ion-list>
        <ion-list class="progress">
          <ion-list-header>
            <ion-label>Protein: {{recipe.proteins}}g</ion-label>
          </ion-list-header>
          <ion-progress-bar
            color="basic"
            value="{{recipe.proteins/1000}}"
          ></ion-progress-bar>
        </ion-list>
        <ion-list class="progress">
          <ion-list-header>
            <ion-label>Carbs: {{recipe.carbs}}g</ion-label>
          </ion-list-header>
          <ion-progress-bar
            color="basic"
            value="{{recipe.carbs/1000}}"
          ></ion-progress-bar>
        </ion-list>
        <ion-list class="progress">
          <ion-list-header>
            <ion-label>Fats: {{recipe.fats}}g</ion-label>
          </ion-list-header>
          <ion-progress-bar
            color="basic"
            value="{{recipe.fats/1000}}"
          ></ion-progress-bar>
        </ion-list>
      </div>
    </div>
    <div class="section ingredients" *ngIf="recipe.ingredients">
      <div class="section-header">
        <h2>Ingredients</h2>
        <ion-icon name="add-circle-outline"></ion-icon>
      </div>
      <div class="section-content">
        <ion-list lines="none">

          <ion-item-sliding *ngFor="let ingredient of recipe.ingredients">
            <ion-item>
              <ion-checkbox color="dark" (ionChange)="shoppingList(ingredient, $event)"></ion-checkbox>
              <ion-label>{{ingredient.amount}} {{ ingredient.displayName }}</ion-label>
              <!-- <div class="line" *ngIf="food.checked"></div>
              <ion-checkbox color="dark" slot="start" [(ngModel)]="food.checked" (ionChange)="checked(food, $event)">
              </ion-checkbox> -->
            </ion-item>
            <!-- <ion-item-options>
              <ion-item-option (click)="remove(food)">Remove</ion-item-option>
            </ion-item-options> -->
          </ion-item-sliding>

          <!-- <ion-item-sliding>
            <ion-item>
              <ion-label>Rolled Oats</ion-label>
              <ion-checkbox color="dark" slot="start" checked></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Low-Fat Milk</ion-label>
              <ion-checkbox slot="start" checked></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Honey</ion-label>
              <ion-checkbox slot="start" checked></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Banana</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Vanilla Extract</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Ground Cinnamon</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Cumin</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Flour</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Salt</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
          <ion-item-sliding>
            <ion-item>
              <ion-label>Thyme</ion-label>
              <ion-checkbox slot="start"></ion-checkbox>
            </ion-item>
            <ion-item-options>
              <ion-item-option>Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding> -->
        </ion-list>
      </div>
    </div>
    <div class="section instructions">
      <div class="section-header">
        <h2>Instructions</h2>
      </div>
      <div class="section-content">
        <ol>
          <!-- <li class="checked" *ngFor="let item of recipe.instructions">
            {{item}}
          </li> -->
        </ol>
      </div>
      <ion-button color="basic" (click)="addRecipe()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
</ion-content>
