ion-content {
  --background: var(--ion-color-background);
}
.section {
  background-color: var(--ion-color-white);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 24px 16px;
  margin-bottom: 24px;
  &:first-child {
    margin-top: 24px;
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    h2 {
      margin: 0;
      font-weight: 400;
    }
    ion-icon {
      font-size: 24px;
    }
  }
}
ion-list {
  margin-bottom: 0;
}
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}
ion-label {
  margin: 0;
}
.label {
  font-size: 14px;
  color: #575859;
}
.value {
  color: #313233;
  font-weight: 300;
  text-align: right;
}
ion-button {
  margin: 24px 16px;
}
ion-input {
  color: #313233;
  text-align: right;
}
ion-select {
  color: #313233;
}

