<ion-content>
  <div class="section">
    <div class="section-header">
      <h2>Details</h2>
    </div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label class="label">Email</ion-label>
          <ion-input [(ngModel)]="user && user.email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">First Name</ion-label>
          <ion-input [(ngModel)]="user && user.firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">Last Name</ion-label>
          <ion-input [(ngModel)]="user && user.lastName"></ion-input>
        </ion-item>
        <ion-item href>
          <ion-label class="label">Measurements</ion-label>
          <ion-input [(ngModel)]="user && user.measurements"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="label" type="tel">Mobile</ion-label>
          <ion-input [(ngModel)]="user && user.mobile"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>About Me</h2>
    </div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label class="label">Height</ion-label>
          <ion-input [(ngModel)]="user && user.height"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">Weight</ion-label>
          <ion-input [(ngModel)]="user && user.weight"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label">Sex</ion-label>
          <!-- <ion-input [(ngModel)]="user && user.sex"></ion-input> -->
          <ion-select placeholder="Select One">
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="label">Meal Plan Type</ion-label>
          <!-- <ion-input [(ngModel)]="user && user.meal_plan"></ion-input> -->
          <ion-select placeholder="Select One">
            <ion-select-option value="m">Regular</ion-select-option>
            <ion-select-option value="f">Normal</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item href>
          <ion-label class="label">Food Preferences</ion-label>
        </ion-item>
        <ion-item href>
          <ion-label class="label">Allergies</ion-label>
        </ion-item>
        <ion-item href lines="none">
          <ion-label class="label">Medical History</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>Alerts & Reminders</h2>
    </div>
    <div class="section-content">
      <ion-list>
        <ion-item href>
          <ion-label class="label">Meal Times</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="label">Weekly Plan</ion-label>
          <ion-label class="value">{{ user?.weekly_plan }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="label">Meal Review</ion-label>
          <ion-toggle *ngIf="user" color="success" [(ngModel)]="user.review"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>Emails</h2>
    </div>
    <div class="section-content">
      <ion-list>
        <ion-item>
          <ion-label class="label">Newsletters</ion-label>
          <ion-toggle *ngIf="user" color="success" [(ngModel)]="user.newsletters"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="label">Updates</ion-label>
          <ion-toggle *ngIf="user" color="success" [(ngModel)]="user.updates"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>Legal</h2>
    </div>
    <div class="section-content">
      <ion-list>
        <ion-item href>
          <ion-label class="label">Privacy Policy</ion-label>
        </ion-item>
        <ion-item href>
          <ion-label class="label">Terms & Conditions</ion-label>
        </ion-item>
        <ion-item href lines="none">
          <ion-label class="label">Accessibility</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-button (click)="logout()" class="btn-basic" color="basic" expand="block" shape="round">Log Out</ion-button>
</ion-content>