<ion-content>
  <div class="section">
    <div class="section-header ion-padding">
      <h2>Details</h2>
      <!-- <ion-icon name="create" color="warning"></ion-icon> -->
    </div>
    <ion-list>
      <ion-item (click)="buttonClick()">
        <ion-label>
          Email
        </ion-label>
        <ion-label class="second">
          trevoir@vesseldm.com
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          First Name
        </ion-label>
        <ion-label class="second">
          Trevor
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Last Name
        </ion-label>
        <ion-label class="second">
          Arilotta
        </ion-label>
      </ion-item>
      
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Measurements
        </ion-label>
        <ion-label class="second">
          Metrics
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Mobile
        </ion-label>
        <ion-label class="second">
          (585) 204 - 0421
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <div class="section-header ion-padding">
      <h2>About Me</h2>
      <!-- <ion-icon name="create" color="warning"></ion-icon> -->
    </div>
    <ion-list>
      <ion-item (click)="buttonClick()">
        <ion-label>
          Height
        </ion-label>
        <ion-label class="second">
          5' 11"
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Weight
        </ion-label>
        <ion-label class="second">
          165 lbs
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Sex
        </ion-label>
        <ion-label class="second">
          Male
        </ion-label>
      </ion-item>
      
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Meal Plan Type
        </ion-label>
        <ion-label class="second">
          Regular
        </ion-label>
      </ion-item>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Food Preferences
        </ion-label>
        <ion-label class="second">
        </ion-label>
      </ion-item>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Allergies
        </ion-label>
        <ion-label class="second">
          
        </ion-label>
      </ion-item>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Medical History
        </ion-label>
        <ion-label class="second">
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <div class="section-header ion-padding">
      <h2>Alerts & Reminders</h2>
      <!-- <ion-icon name="create" color="warning"></ion-icon> -->
    </div>
    <ion-list>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Meal Times
        </ion-label>
        <ion-label class="second">
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Weekly Plan
        </ion-label>
        <ion-label class="second">
          Sundays @ 7:00am
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
            Meal Review
        </ion-label>
        <ion-label class="second">
          <ion-toggle color="success"></ion-toggle>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <div class="section-header ion-padding">
      <h2>Emails</h2>
      <!-- <ion-icon name="create" color="warning"></ion-icon> -->
    </div>
    <ion-list>
      <ion-item (click)="buttonClick()">
        <ion-label>
            Newsletters
        </ion-label>
        <ion-label class="second">
          <ion-toggle color="success" checked></ion-toggle>
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
            Updates
        </ion-label>
        <ion-label class="second">
          <ion-toggle color="success"></ion-toggle>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <div class="section-header ion-padding">
      <h2>Billing</h2>
      <ion-label color="primary">
          Edit
      </ion-label>
    </div>
    <ion-list>
      <ion-item (click)="buttonClick()">
        <ion-label>
          Card Number
        </ion-label>
        <ion-label class="second">
          **** **** **** 9824
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Expires
        </ion-label>
        <ion-label class="second">
          12/21
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          CVV
        </ion-label>
        <ion-label class="second">
          123
        </ion-label>
      </ion-item>

      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Billing Address
        </ion-label>
        <ion-label class="second">
          123 Sesame St
        </ion-label>
      </ion-item>

      <ion-item (click)="buttonClick()">
        <ion-label>
          Auto Renew
        </ion-label>
        <ion-label class="second">
          <ion-toggle color="success" checked></ion-toggle>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="section">
    <div class="section-header ion-padding">
      <h2>Legal</h2>
    </div>
    <ion-list>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Privacy Policy
        </ion-label>
        <ion-label class="second">
        </ion-label>
      </ion-item>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Terms & Conditions
        </ion-label>
        <ion-label class="second">
        </ion-label>
      </ion-item>
      <ion-item href="https://www.ionicframework.com">
        <ion-label>
          Accessibility
        </ion-label>
        <ion-label class="second">
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="logout()" expand="block" color="warning" shape="round" size="large">
        <ion-label color="dark" class="signup-button">Log out</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>
  