<ion-content class="ion-padding">
  <img class="logo" src="/assets/img/logo.png" alt="Zoë">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="tryRegister(registerForm.value)">
    <h1 class="form-title">Sign Up</h1>
    <div class="form-content">
      <ion-item color="transparent">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating">Choose Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item class="checkbox" color="transparent" lines="none">
        <ion-label>Send me a welcome email, blogs & more</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </div>
    <div class="form-actions">
      <ion-button class="btn-basic" color="basic" type="submit" expand="block" shape="round">Create My Account</ion-button>
      <a (click)="goLogin()" class="btn-basic">Log in to my account</a>
    </div>
    <div style="margin-top: 20px;">
      <label class="error-message">{{ errorMessage }}</label>
      <label class="success-message">{{ successMessage }}</label>
    </div>
  </form>
  <hr />
  <div class="social-buttons">
    <ion-button (click)="tryGoogleLogin()" class="btn-basic" color="red" expand="block">Sign Up with Google</ion-button>
    <ion-button (click)="tryFacebookLogin()" class="btn-basic" color="blue" expand="block">Sign Up with Facebook</ion-button>
    <ion-button (click)="goHome()" class="btn-basic" color="sky" expand="block">Sign Up with Twitter</ion-button>
  </div>
  <div class="policy">
    By creating an account, I accept the <a>ATP Privacy Policy</a> and <a>Terms & Conditions</a>
  </div>
</ion-content>
