<ion-content class="auth-page signup">
  <div class="page-wrapper ion-padding">
    <div class="logo ion-padding">
      <img src="/assets/img/logo.png" alt="logo">
    </div>
    <div class="signup-form">
      <h1 class="ion-text-center">Sign Up</h1>
      <ion-item lines="none">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Choose Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="checkbox-container" lines="none">
        <ion-checkbox color="light"></ion-checkbox> Send me a welcome email, blogs & more
      </ion-item>
      <div class="form-buttons">
        <ion-button (click)="goHome()" expand="block" color="warning" shape="round" size="large">
          <ion-label color="dark" class="signup-button">Create My Account</ion-label>
        </ion-button>
        <div class="login-button">
          <a (click)="goLogin()">Log in to my account</a>
        </div>
      </div>
    </div>
    <hr class="form-divider">
    <div class="social-buttons">
      <ion-button (click)="goHome()" expand="block" color="danger" size="large">Sign Up with Google</ion-button>
      <ion-button (click)="goHome()" expand="block" color="primary" size="large">Sign Up with Facebook</ion-button>
      <ion-button (click)="goHome()" expand="block" color="secondary" size="large">Sign Up with Twitter</ion-button>
    </div>
    <div class="bottom-info">
      By creating an account, I accept the 
      <a (click)="openPolicyModal()">ATP Privacy Policy and Terms & Conditions</a>
    </div>
  </div>
</ion-content>
