<ion-content>
  <div class="alert-container ion-padding">
    <div class="alert">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Complete Profile</ion-label>
    </div>
  </div>
  <div class="section">
    <div class="section-header ion-padding">
      <h2>Ingredients</h2>
      <ion-icon name="menu"></ion-icon>
    </div>
      <ion-list lines="none">
      <ion-item-sliding>
        <ion-item>
          <ion-label class="checked">
            <ion-checkbox checked="true" color="dark">
            </ion-checkbox>
            Rolled Oats
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label class="checked">
            <ion-checkbox checked="true" color="dark">
            </ion-checkbox>
            Low Fat Milk
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label class="checked">
            <ion-checkbox checked="true" color="dark">
            </ion-checkbox>
            Honey
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Banana
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            V-Fat Yogurt, Plain
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Vanilla Extract
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Ground Cinnamon
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Chopped Walnuts
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Cumin
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Flour
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Salt
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <ion-checkbox checked="false" color="dark">
            </ion-checkbox>
            Thyme
          </ion-label>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="danger">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      
    </ion-list>
  </div>
</ion-content>
