<ion-header>
  <ion-toolbar>
    <ion-button size="small">M</ion-button>
    <ion-button size="small">T</ion-button>
    <ion-button size="small" class="active">M</ion-button>
    <ion-button size="small" class="active">M</ion-button>
    <ion-button size="small" class="active">M</ion-button>
    <ion-button size="small" class="active">M</ion-button>
    <ion-button size="small" class="active">M</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="alert-container ion-padding">
    <div class="alert">
      <ion-icon name="alert"></ion-icon>
      <ion-label>Complete Profile</ion-label>
    </div>
  </div>
  <div class="section">
    <div class="section-header ion-padding">
      <h2>My Recipes</h2>
      <ion-icon name="create" color="warning"></ion-icon>
    </div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="/assets/img/item.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Breakfast</ion-card-subtitle>
            <ion-card-title>Banana Walnut Overnight Oatmeal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="/assets/img/item.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Breakfast</ion-card-subtitle>
            <ion-card-title>Banana Walnut Overnight Oatmeal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="/assets/img/item.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Breakfast</ion-card-subtitle>
            <ion-card-title>Banana Walnut Overnight Oatmeal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="welcome-card">
          <img src="/assets/img/item.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Breakfast</ion-card-subtitle>
            <ion-card-title>Banana Walnut Overnight Oatmeal</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
