<ion-content class="ion-padding">
  <img class="logo" src="/assets/img/logo.png" alt="Zoë">
  <div class="form">
    <h1 class="form-title">Log In</h1>
    <div class="form-content">
      <ion-item color="transparent">
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-item class="checkbox" color="transparent" lines="none">
        <ion-label>Remember me</ion-label>
        <ion-checkbox checked slot="start"></ion-checkbox>
      </ion-item>
    </div>
    <div class="form-actions">
      <ion-button (click)="login()" class="btn-basic" color="basic" expand="block" shape="round">Log In</ion-button>
      <div class="clearfix">
        <a (click)="goForgot()" class="ion-float-left">Forgot Password?</a>
        <a (click)="goSignup()" class="ion-float-right">Sign Up</a>
      </div>
    </div>
  </div>
  <hr />
  <div class="social-buttons">
    <ion-button (click)="goHome()" class="btn-basic" color="red" expand="block">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Log In with Google
    </ion-button>
    <ion-button (click)="goHome()" class="btn-basic" color="blue" expand="block">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Log In with Facebook
    </ion-button>
    <ion-button (click)="goHome()" class="btn-basic" color="sky" expand="block">
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      Log In with Twitter
    </ion-button>
  </div>
</ion-content>
