<ion-content class="ion-padding">
  <img class="logo" src="/assets/img/logo.png" alt="Zoë">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)">
    <h1 class="form-title">Log In</h1>
    <div class="form-content">
      <ion-item color="transparent">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="
            loginForm.get('email').hasError(validation.type) && 
            (loginForm.get('email').dirty || loginForm.get('email').touched)
          ">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item color="transparent">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="
            loginForm.get('password').hasError(validation.type) && 
            (loginForm.get('password').dirty || loginForm.get('password').touched)
          ">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="checkbox" color="transparent" lines="none">
        <ion-label>Remember me</ion-label>
        <ion-checkbox checked slot="start"></ion-checkbox>
      </ion-item>
    </div>
    <div class="form-actions">
      <ion-button class="btn-basic" color="basic" type="submit" expand="block" shape="round">Log In</ion-button>
      <div class="clearfix">
        <a (click)="goForgot()" class="ion-float-left">Forgot Password?</a>
        <a (click)="goSignup()" class="ion-float-right">Sign Up</a>
      </div>
    </div>
    <div style="margin-top: 20px;">
      <label class="error-message">{{ errorMessage }}</label>
    </div>
  </form>
  <hr />
  <div class="social-buttons">
    <ion-button (click)="tryGoogleLogin()" class="btn-basic" color="red" expand="block">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Log In with Google
    </ion-button>
    <ion-button (click)="tryFacebookLogin()" class="btn-basic" color="blue" expand="block">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Log In with Facebook
    </ion-button>
    <ion-button (click)="tryTwitterLogin()" class="btn-basic" color="sky" expand="block">
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      Log In with Twitter
    </ion-button>
  </div>
</ion-content>
