.btn-basic {
  height: 54px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Exo 2";
}
ion-button {
  text-transform: none;
  height: 54px;
  font-size: 18px;
  font-family: "Exo 2";
}
h1,
h2 {
  font-family: 'Oswald';
}

.swiper-pagination-bullet {
  opacity: 1;
}
