.auth-page {
  --background: url('/assets/img/bg-1.jpg') no-repeat center/cover;
  .page-wrapper {
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    color: #fff;
  }
}
ion-button {
  text-transform: none;
}