<ion-content>
    <ion-grid>
        <ion-row class="top-margin">
            <ion-col>
                <div class="section" (click)="goGroupUsers('Total')">
                    <div class="section-header">
                        <div class="section-label">Total Users</div>
                        <div class="section-header-right">
                            <ion-icon name="arrow-round-down" class="down"></ion-icon>
                            <ion-label class="up">-12% </ion-label>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="count">{{users && users.length}}</div>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="section" (click)="goGroupUsers('Silver')">
                    <div class="section-header">
                        <div class="section-label">Silver Users</div>
                        <div class="section-header-right">
                            <ion-icon name="arrow-round-up" class="up"></ion-icon>
                            <ion-label class="up">+10% </ion-label>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="count">{{silver_users && silver_users.length}}</div>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="section" (click)="goGroupUsers('Gold')">
                    <div class="section-header">
                        <div class="section-label">Gold Users</div>
                        <div class="section-header-right">
                            <ion-icon name="arrow-round-up" class="up"></ion-icon>
                            <ion-label class="up">+4% </ion-label>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="count">{{gold_users && gold_users.length}}</div>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="section" (click)="goGroupUsers('Platinum')">
                    <div class="section-header">
                        <div class="section-label">Platinum Users</div>
                        <div class="section-header-right">
                            <ion-icon name="arrow-round-down" class="down"></ion-icon>
                            <ion-label class="up">-1% </ion-label>
                        </div>
                    </div>
                    <div class="section-content">
                        <div class="count">{{platinum_users && platinum_users.length}}</div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="section">
                    <div class="section-header bottom-border content">
                        <div class="section-label">June Rewards</div>
                        <div class="section-header-right">
                            <ion-button fill="clear" *ngIf="!rewardsEditable" (click)="doRewardsEditEnable()">Edit
                            </ion-button>
                            <ion-button fill="clear" *ngIf="rewardsEditable" (click)="dorewardsEdit()">Done
                            </ion-button>
                        </div>
                    </div>
                    <div class="section-content">
                        <ion-list>
                            <ion-item *ngFor="let item of rewards">
                                <ion-label *ngIf="!rewardsEditable">{{item}}</ion-label>
                                <ion-input *ngIf="rewardsEditable" [(ngModel)]="item"></ion-input>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="section">
                    <div class="section-header bottom-border content">
                        <div class="section-label">Top Users</div>
                        <div class="section-header-right">
                        </div>
                    </div>
                    <div class="section-content">
                        <ion-list>
                            <ion-item *ngFor="let item of users" (click)="goUserDetail(item)">
                                <ion-avatar slot="start">
                                    <img src="{{item.photoUrl}}" />
                                </ion-avatar>
                                <ion-label class="name">
                                    <p>{{item.firstName + " " + item.lastName}}</p>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="section" style="margin-bottom: 30px;">
                    <div class="section-header bottom-border content">
                        <div class="section-label">Billing</div>
                        <div class="section-header-right">
                            <ion-button fill="clear" *ngIf="!userBillingEditable" (click)="doUserBillingEditEnable()">
                                Edit
                            </ion-button>
                            <ion-button fill="clear" *ngIf="userBillingEditable" (click)="doUpdateUserBillingInfo()">
                                Done
                            </ion-button>
                        </div>
                    </div>
                    <div class="section-content">
                        <ion-list>
                            <ion-item>
                                <ion-label class="label">Card Number</ion-label>
                                <ion-input class="right" *ngIf="userBillingEditable"
                                    [(ngModel)]="user &&  user.cardNumber">
                                </ion-input>
                                <ion-label class="right" *ngIf="!userBillingEditable">
                                    {{user &&  user.cardNumber}}
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label class="label">Expires</ion-label>
                                <ion-input class="right" *ngIf="userBillingEditable"
                                    [(ngModel)]="user &&  user.cardExpire">
                                </ion-input>
                                <ion-label class="right" *ngIf="!userBillingEditable">
                                    {{user &&  user.cardExpire}}
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label class="label">CVV</ion-label>
                                <ion-input class="right" *ngIf="userBillingEditable"
                                    [(ngModel)]="user &&  user.cardCvv">
                                </ion-input>
                                <ion-label class="right" *ngIf="!userBillingEditable">
                                    {{user &&  user.cardCvv}}
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label class="label">Billing Address</ion-label>
                                <ion-input class="right" *ngIf="userBillingEditable"
                                    [(ngModel)]="user &&  user.cardAddress">
                                </ion-input>
                                <ion-label class="right" *ngIf="!userBillingEditable">
                                    {{user &&  user.cardAddress}}
                                </ion-label>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-label class="label">Auto Renew</ion-label>
                                <ion-toggle class="right" *ngIf="user" color="success" [(ngModel)]="user.card_renew">
                                </ion-toggle>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div class="section">
                    <div class="section-header bottom-border content">
                        <div class="section-label">Legal</div>
                        <div class="section-header-right">
                        </div>
                    </div>
                    <div class="section-content">
                        <ion-list>
                            <ion-item href>
                                <ion-label class="label">Privacy Policy</ion-label>
                            </ion-item>
                            <ion-item href>
                                <ion-label class="label">Terms & Conditions</ion-label>
                            </ion-item>
                            <ion-item href lines="none">
                                <ion-label class="label">Accessibility</ion-label>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>