<ion-content>
  <div class="day-picker">
    <ion-button *ngFor="let day of weekDays" [color]="day >= currentDay ? 'light' : 'medium'"
      [ngClass]="{'active': day.toString() == currentDay.toString()}">
      {{day.toString().charAt(0)}}
    </ion-button>
  </div>
  <div class="block"
    *ngIf="(user && !user.email) || (user && !user.firstName) || (user && !user.lastName) || (user && !user.measurements) || (user && !user.mobile) || (user && !user.height) || (user && !user.weight) || (user && !user.sex) || (user && !user.meal_plan) || (user && !user.food_reference) || (user && !user.allergies) || (user && !user.medical_history) || (user && !user.meal_times)">
    <ion-button (click)="goProfile()" class="alert" color="basic" expand="block" size="large">
      <ion-icon slot="start" name="alert"></ion-icon>
      <ion-label>Complete Profile</ion-label>
    </ion-button>
  </div>
  <div class="section recipes">
    <div class="section-header">
      <h2>My Recipes</h2>
      <ion-icon (click)="editRecipes()" name="create" color="basic"></ion-icon>
    </div>
    <div *ngIf="recipes" class="section-content">
      <ion-slides #slider pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let recipe of recipes">
          <ion-card class="recipe">
            <img [src]="recipe.photo" alt="recipe" />
            <ion-card-header>
              <ion-card-subtitle>{{recipe.type}}</ion-card-subtitle>
              <ion-card-title>{{recipe.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>Nutritional Averages</h2>
    </div>
    <div class="section-content">
      <ion-list class="progress">
        <ion-list-header>
          <ion-label>Calories</ion-label>
          <ion-label>{{nutritional.calories}}g</ion-label>
        </ion-list-header>
        <ion-progress-bar color="basic" value="0.9"></ion-progress-bar>
      </ion-list>
      <ion-list class="progress">
        <ion-list-header>
          <ion-label>Protein</ion-label>
          <ion-label>{{nutritional.protein}}g</ion-label>
        </ion-list-header>
        <ion-progress-bar color="basic" value="0.83"></ion-progress-bar>
      </ion-list>
      <ion-list class="progress">
        <ion-list-header>
          <ion-label>Carbs</ion-label>
          <ion-label>{{nutritional.carbs}}g</ion-label>
        </ion-list-header>
        <ion-progress-bar color="basic" value="0.48"></ion-progress-bar>
      </ion-list>
      <ion-list class="progress">
        <ion-list-header>
          <ion-label>Fats</ion-label>
          <ion-label>{{nutritional.fats}}g</ion-label>
        </ion-list-header>
        <ion-progress-bar color="basic" value="0.6"></ion-progress-bar>
      </ion-list>
    </div>
  </div>
  <div class="congratulations">
    <div class="header">
      <ion-icon name="ribbon"></ion-icon>
      <h2>Congratulations!</h2>
    </div>
    <p>
      {{ notification }}
    </p>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>Featured Recipe</h2>
    </div>
    <div class="section-content">
      <ion-card class="recipe featured-recipe">
        <img src="/assets/img/item.jpg" alt="recipe" />
        <ion-card-header>
          <ion-card-subtitle>Breakfast</ion-card-subtitle>
          <ion-card-title>Banana Walnut Overnight Oatmeal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <ion-icon name="timer"></ion-icon>
            15 Minutes
          </ion-label>
          <ion-label>
            <ion-icon name="options"></ion-icon>
            Medium
          </ion-label>
          <ion-label>
            <ion-icon name="restaurant"></ion-icon>
            1 Bowl
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="section">
    <div class="section-header">
      <h2>How are you feeling today?</h2>
    </div>
    <div class="section-content">
      <div class="review-buttons">
        <span>😁</span>
        <span>😄</span>
        <span>😊</span>
        <span>😕</span>
        <span>😞</span>
      </div>
    </div>
  </div>
</ion-content>