<ion-content>
  <ion-segment color="medium">
    <ion-segment-button value="breakfast">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Breakfast</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lunch">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Lunch</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dinner">
      <ion-icon name="cafe"></ion-icon>
      <ion-label>Dinner</ion-label>
    </ion-segment-button>
    <ion-segment-button value="dessert">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Dessert</ion-label>
    </ion-segment-button>
    <ion-segment-button value="drinks">
      <ion-icon name="beer"></ion-icon>
      <ion-label>Drinks</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="searchbar">
    <ion-searchbar color="light" placeholder=""></ion-searchbar>
  </div>
  <div class="block"
    *ngIf="(user && !user.email) || (user && !user.firstName) || (user && !user.lastName) || (user && !user.measurements) || (user && !user.mobile) || (user && !user.height) || (user && !user.weight) || (user && !user.sex) || (user && !user.meal_plan) || (user && !user.food_reference) || (user && !user.allergies) || (user && !user.medical_history) || (user && !user.meal_times)">
    <ion-button class="alert" color="basic" expand="block" size="large">
      <ion-icon slot="start" name="alert"></ion-icon>
      <ion-label>Complete Profile</ion-label>
    </ion-button>
  </div>
  <div class="section recipes">
    <div class="section-header">
      <h2>Breakfast</h2>
      <a *ngIf="recipesDrinks">SEE ALL ({{recipesBreakfasts.length}})</a>
    </div>
    <div *ngIf="recipesBreakfasts" class="section-content">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide (click)="goRecipePage(item)" *ngFor="let item of recipesBreakfasts">
          <ion-card class="recipe" >
            <img src="{{item.photo}}" alt="recipe"/>
            <ion-card-header>
              <ion-card-title>{{item.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="section recipes">
    <div class="section-header">
      <h2>Lunch</h2>
      <a *ngIf="recipesLunchs">SEE ALL ({{recipesLunchs.length}})</a>
    </div>
    <div *ngIf="recipesLunchs" class="section-content">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of recipesLunchs">
          <ion-card class="recipe" (click)="goRecipePage(item)">
            <img src="{{item.photo}}" alt="recipe" />
            <ion-card-header>
              <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
            <ion-card-title>{{item.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="section recipes">
    <div class="section-header">
      <h2>Dinner</h2>
      <a *ngIf="recipesDrinks">SEE ALL ({{recipesDinners.length}})</a>
    </div>
    <div *ngIf="recipesDinners" class="section-content">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of recipesDinners">
          <ion-card class="recipe" (click)="goRecipePage(item)">
            <img src="{{item.photo}}" alt="recipe" />
            <ion-card-header>
              <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
              <ion-card-title>{{item.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="section recipes">
    <div class="section-header">
      <h2>Snacks & Desserts</h2>
      <a *ngIf="recipesDrinks">SEE ALL ({{recipesSnacks.length}})</a>
    </div>
    <div *ngIf="recipesSnacks" class="section-content">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of recipesSnacks">
          <ion-card class="recipe" (click)="goRecipePage(item)">
            <img src="{{item.photo}}" alt="recipe" />
            <ion-card-header>
              <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
              <ion-card-title>{{item.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <div class="section recipes" id="breakfast">
    <div class="section-header">
      <h2>Drinks</h2>
      <a *ngIf="recipesDrinks">SEE ALL ({{recipesDrinks.length}})</a>
    </div>
    <div *ngIf="recipesDrinks" class="section-content">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of recipesDrinks">
          <ion-card class="recipe" (click)="goRecipePage(item)">
            <img src="{{item.photo}}" alt="recipe" />
            <ion-card-header>
              <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
              <ion-card-title>{{item.name}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>