<ion-content>
  <div class="block">
    <ion-button class="alert" color="basic" expand="block" size="large">
      <ion-icon slot="start" name="alert"></ion-icon>
      <ion-label>Complete Profile</ion-label>
    </ion-button>
  </div>
  <div class="section recipes">
    <div class="section-header">
      <h2>Ingredients</h2>
      <ion-icon name="menu"></ion-icon>
    </div>
    <div class="section-content">
      <ion-list lines="none">
        <ion-item-sliding>
          <ion-item>
            <ion-label>Rolled Oats</ion-label>
            <ion-checkbox color="dark" slot="start" checked></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Low-Fat Milk</ion-label>
            <ion-checkbox slot="start" checked></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Honey</ion-label>
            <ion-checkbox slot="start" checked></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Banana</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Vanilla Extract</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Ground Cinnamon</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Cumin</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Flour</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Salt</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item>
            <ion-label>Thyme</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item-options>
            <ion-item-option>Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
